<html>
    <head>
        <title>SEDAT's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">SEDAT's blog</a></h1>
        </div>
        
        <div>
            <p>published: 14.06.2016, 12:14</p>
            <h2><a href="">my first blog</a></h2>
            <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
        </div>
        
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">my first sharing</a></h2>
            <p>Çocukluk öldüğünde geriye kalan cesetlere 'yetişkin' adı verilir ve bunlar cehennemin kibarca söylenişi olan 'toplum'daki yerlerini alırlar
            Brian Aldiss</p>
        </div>
    </body>
</html>